In [5]:
from __future__ import absolute_import, division, print_function
import tensorflow as tf
import numpy as np
import keras
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv('investments.csv')
df.head(5)

,name,nok,usd,sector,ownership,country,id,type,voting
0,1&1 Drillisch AG,303563913,35454997,Telecommunications,0.80,Germany,3121.0,equities,0.80
1,10X Genomics Inc,58566060,6840271,Health Care,0.04,United States,6185.0,equities,0.01
2,11 bit studios SA,72377431,8453382,Consumer Goods,2.82,Poland,5809.0,equities,2.82
3,1Life Healthcare Inc,244649434,28574032,Health Care,0.49,United States,3535.0,equities,0.49
4,1st Source Corp,86771625,10134563,Financials,0.98,United States,5472.0,equities,0.98

In [ ]:
#https://github.com/tiagomonteiro0715/another-data-science-project/blob/master/main.py
#important code above

#filter contries and sectores